<!-- Modal Adicionar/Editar Cliente -->
<div class="modal fade" id="modalClientes{{cliente.id}}" tabindex="-1" aria-labelledby="modalLabelClientes"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg ">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="modalLabelClientes">
                    Novo Cliente
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form
                    action="{% if cliente.id %}{{ url('clientes/editar/'~cliente.id) }}{% else %}{{ url('clientes/cadastrar') }}{% endif %}"
                    method="post">
                    <div class="row">
                        <!-- Nome -->
                        <div class="col-md-7">
                            <label for="nome" class="form-label">Nome Completo</label>
                            <input value="{{cliente.nome}}" type="text" class="form-control" id="nome" name="nome_cliente"
                                placeholder="Nome do Cliente" required>
                        </div>
                        <!-- CPF/CNPJ -->
                        <div class="col-md-5">
                            <label for="cpf_cnpj" class="form-label">CPF/CNPJ</label>
                            <input value="{{ cliente.cpf_cnpj }}" maxlength="18" type="text"
                                class="form-control mascara-doc" id="cpf_cnpj" name="cpf_cnpj_cliente"
                                placeholder="000.000.000-00 ou 00.000.000/0000-00">
                        </div>

                        <!-- Email -->
                        <div class="col-4 mt-3">
                            <label for="email" class="form-label">Email</label>
                            <input value="{{ cliente.email }}" type="email" class="form-control" id="email" name="email_cliente"
                                placeholder="nome@exemplo.com">
                        </div>

                        <!-- Telefone -->
                        <div class="col-md-4 mt-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input value="{{ cliente.telefone }}" type="tel" class="form-control mascara-telefone"
                                id="telefone" name="telefone_cliente" placeholder="(XX) XXXX-XXXX">
                        </div>

                        <!-- Celular -->
                        <div class="col-md-4 mt-3">
                            <label for="celular" class="form-label">Celular</label>
                            <input value="{{ cliente.celular }}" type="tel" class="form-control mascara-celular"
                                id="celular" name="celular_cliente" placeholder="(XX) 9XXXX-XXXX">
                        </div>

                        <!-- CEP -->
                        <div class="col-md-3 mt-3">
                            <label for="cep" class="form-label">CEP</label>
                            <input value="{{ cliente.cep }}" type="text" class="form-control mascara-cep" id="cep"
                                name="cep_cliente" placeholder="XXXXX-XXX">
                        </div>

                        <!-- Rua -->
                        <div class="col-md-7 mt-3">
                            <label for="rua" class="form-label">Rua</label>
                            <input value="{{ cliente.rua }}" type="text" class="form-control" id="rua" name="rua_cliente"
                                placeholder="Nome da rua">
                        </div>

                        <!-- Número da Casa -->
                        <div class="col-md-2 mt-3">
                            <label for="n_casa" class="form-label">Número</label>
                            <input value="{{ cliente.n_casa }}" type="text" class="form-control" id="n_casa"
                                name="n_casa_cliente" placeholder="Nº">
                        </div>

                        <!-- Bairro -->
                        <div class="col-md-6 mt-3">
                            <label for="bairro" class="form-label">Bairro</label>
                            <input value="{{ cliente.bairro }}" type="text" class="form-control" id="bairro"
                                name="bairro_cliente" placeholder="Nome do bairro">
                        </div>

                        <!-- Cidade -->
                        <div class="col-md-4 mt-3">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input value="{{ cliente.cidade }}" type="text" class="form-control" id="cidade"
                                name="cidade_cliente" placeholder="Nome da cidade">
                        </div>

                        <!-- UF -->
                        <div class="col-md-2 mt-3">
                            <label for="uf" class="form-label">UF</label>
                            <select id="uf" name="uf_cliente" class="form-select">
                                <option value="" selected disabled>UF</option>
                                {% for estado in
                                ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO']
                                %}
                                <option value="{{ estado }}" {% if cliente.uf==estado %}selected{% endif %}>{{ estado }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 mt-4 text-end">
                            <button style="background-color: #0b5ed7;" type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

