{% extends 'base.html' %}

{% block content %}

<h1 class="d-flex justify-content-center">{% if post.id%}Editar Post{% else %}Cadastrar Post{% endif %}</h1>

<div class="card shadow-sm border-0">
    <div class="card-body">
        <div class="pl-3 pr-3">
            <form
                action="{% if post.id%}{{url('admin/posts/editar/'~post.id)}}{% else %}{{url('admin/posts/cadastrar')}}{% endif %}"
                method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="row">

                        <div class="col-md-8">
                            <label class="form-label">Título</label>
                            <input required type="text" class="form-control" id="titulo" name="titulo"
                                value="{{post.titulo}}">
                        </div>

                        <div class="col-md-4">
                            <label for="status" class="form-label">Status</label>
                            <select required name="status" id="status" class="form-select">
                                <option disabled {% if post.status=='' %}selected{%endif%}>Selecione</option>
                                <option value="1" {% if post.status=='1' %}selected{%endif%}>Publicado</option>
                                <option value="0" {% if post.status=='0' %}selected{%endif%}>Rascunho</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="mb-3 ">
                    <div class="row">

                        <div class="col-md-4">
                            <label for="categoria_id" class="form-label">Categoria</label>
                            <select required name="categoria_id" id="categoria_id" class="form-select">
                                <option disabled {% if not post.categoria_id %}selected{% endif %}>Selecione
                                </option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria.id }}" {% if post.categoria_id==categoria.id %}selected{%
                                    endif %}>{{ categoria.titulo }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <img id="preview" style="max-width: 150px;"
                                src="{% if post.tumb %} {{ url('templates/site/assets/img/tumbs/'~post.tumb) }} {% endif %}">
                        </div>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="editor" class="form-label">Texto</label>
                    <textarea id="editor" name="texto"
                        rows="5">{% if post.texto %}{{decodeHtml(post.texto)}}{% endif %}</textarea>
                </div>

                <input type="submit" class="btn btn-primary"
                    value="{% if post.id%}Atualizar{% else %}Cadastrar{% endif %}">
            </form>
        </div>
    </div>
</div>




<script>
    //Editor Trumbowyg
    $(document).ready(function () {

        $('#editor').trumbowyg({
            lang: 'pt_br',
            btnsDef: {
                image: {
                    dropdown: ['insertImage', 'upload'],
                    ico: 'insertImage'
                }
            },
            btns: [
                ['viewHTML'],
                ['formatting'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['image'],
                ['noembed'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ],
            plugins: {
                upload: {
                    serverPath: "{{ url('admin/posts/cadastrar') }}",
                    fileFieldName: 'Imagem-editor',
                    headers: {
                        'Authorization': 'Client-ID xxxxxxxxxxxx'
                    },
                    urlPropertyName: 'file'
                },
            },
            autogrow: true,
            imageWidthModalEdit: true
        });
    });
</script>

{% endblock %}