{% extends 'base.html' %}

{% block conteudo %}

<style>
    .botao {
        background-color: #373643;
    }

    .botao:hover {
        background-color: #373643e7 !important;

    }
</style>

<h3 class="text-center">Confira Seus Dados</h3>
<p style="margin-top: -15px;" class="text-danger text-center">Para uma configuração persistente dos seus dados ou para
    adicionar logo ao seu orçamento, vá para
    <a href="{{ url('perfil') }}">Perfil</a>
</p>
<form action="{{ url('orcamento/cadastrar/' ~ modelo)}}" method="post" target="_blank">

    <div class="card border-1 shadow-lg p-3">
        <div class="text-center mb-3">
            {% if usuario().img_logo %}
            <img src="{{ url('templates/assets/img/logos/'~usuario().img_logo) }}" class="img-fluid"
                style="max-height: 150px;">
            {% endif %}
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md-4">
                <label class="form-label">Seu nome</label>
                <input required value="{{ usuario().nome }}" type="text" class="form-control form-control-sm"
                    name="nome-empresa">
            </div>
            <div class="col-md-4">
                <label class="form-label"> Seu Email</label>
                <input value="{{ usuario().email }}" type="email" class="form-control form-control-sm"
                    name="email-empresa">
            </div>
            <div class="col-md-4">
                <label class="form-label"> Seu Telefone</label>
                <input required value="{{ usuario().telefone }}" type="text" class="form-control form-control-sm"
                    name="tel-empresa">
            </div>
        </div>

        <div class="row g-2 mb-3">
            <div class="col-md-4">
                <label class="form-label">Seu CNPJ</label>
                <input value="{{ usuario().cnpj }}" type="text" class="form-control form-control-sm" name="doc-empresa"
                    id="cnpj-input" placeholder="00.000.000/0000-00" maxlength="18">
            </div>
            <div class="col-md-4">
                <label class="form-label"> Seu Facebook</label>
                <input value="{{ usuario().facebook }}" type="text" class="form-control form-control-sm"
                    name="facebook">
            </div>
            <div class="col-md-4">
                <label class="form-label"> Seu Instagram</label>
                <input value="{{ usuario().instagram }}" type="text" class="form-control form-control-sm"
                    name="instagram">
            </div>
        </div>

        <div class="row g-2 mb-3">
            <div class="col-12">
                <label class="form-label">Seu Endereço</label>
                <input value="{{ usuario().endereco }}" type="text" class="form-control form-control-sm"
                    name="end-empresa">
            </div>
        </div>
    </div>

    <h3 class="text-center mt-4">Dados do cliente</h3>
    <p style="margin-top: -15px;" class="text-danger text-center">Campos com * são obrigatórios</p>

    {% include '/componentes/cabecalho-dados-cliente.html' %}

    <h3 class="mt-4 text-center">Itens do Orçamento</h3>
    <p style="margin-top: -15px;" class="text-danger text-center">Campos com * são obrigatórios</p>
    <div class="card border-1 shadow-lg p-3">
        <div id="itens-container" class="mb-3">
            <div class="row g-2 item">
                <div class="col-10">
                    <input required type="text" class="form-control form-control-sm" placeholder="Nome do Serviço*"
                        name="itens[0][nome]">
                </div>
                <div class="col-2">
                    <input required type="number" class="form-control form-control-sm" placeholder="Qtd*"
                        name="itens[0][qtd]">
                </div>

                <div class="col-12">
                    <textarea class="form-control form-control-sm" placeholder="Descrição"
                        name="itens[0][descricao]"></textarea>
                </div>
            </div>
        </div>
        <button style="background-color: #0b5ed7;" type="button" class="btn btn-sm btn-primary mb-3" onclick="adicionarItemSimples()">Adicionar
            Item</button>
    </div>

    <h3 class="mt-4 text-center">Valor total do orçamento</h3>

    <div class="card border-1 shadow-lg p-3">
        <div class="mb-3 d-flex justify-content-center">
            <div class="col-md-2">
                <label class="form-label">Valor total</label>
                <input type="text" id="valor_orcamento" class="form-control form-control-sm" name="valor_orcamento">
            </div>
        </div>
    </div>

    <h3 class="mt-4 text-center">Detalhes finais</h3>

    <div class="card border-1 shadow-lg p-3">
        <div class="mb-3 d-flex justify-content-center">
            <div class="col-md-2">
                <label class="form-label">Validade do orçamento</label>
                <input type="date" class="form-control form-control-sm" name="validade-orcamento">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Anotações sobre o Orçamento</label>
            <textarea class="form-control form-control-sm" placeholder="Anotações" name="anotacoes"></textarea>
        </div>
    </div>

    <div class="text-center my-4">
        <button type="submit" class="btn botao text-white"><i style="color: #18cb96;"
                class="bi bi-plus-circle"></i> Gerar Orçamento</button>
    </div>
</form>
<script></script>
<script src="{{url('templates/assets/js/orcamentos.js')}}?v=1.0.2"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Função para adicionar novos itens ao orçamento
        adicionarItemSimples();
        mascaraCpfCnpjInput(document.getElementById('cpf_cnpj_cliente'));
        mascaraCepInput(document.getElementById('cep_cliente'));
        mascaraTelefoneInput(document.getElementById('telefone_cliente'));
        mascaraCelularInput(document.getElementById('celular_cliente'));

        // Aplica máscara monetária ao campo inicial
        
            aplicarMascaraMonetaria(document.getElementById('valor_orcamento'));
    });
</script>

{% endblock %}