{% extends 'base.html' %}

{% block conteudo %}
<style>
    .cor-fundo{
        background-color: #e1e4e780;
    }
</style>

<div class="container mt-4">
    <div class="row justify-content-center">
        <h1 class="text-center text-primary mb-5">Escolha um modelo para seu orçamento</h1>
        <div class="col-md-6 text-center mb-5">
            <h3 class="mt-2">Modelo Padrão</h3>
            <p class="text-muted">Orçamento com preço unitário detalhado e soma total automática.</p>
            <a href="{{ url('quote/detalhado/padrao') }}" class="text-decoration-none">
                <img src="{{ url('templates/assets/img/gerais/orcamento-padrao.png') }}" alt="Modelo Detalhado" class="img-fluid rounded border">     
            </a>
            
        </div>
        <div class="col-md-6 text-center">
            <h3 class="mt-2">Modelo Clássico</h3>
            <p class="text-muted">Orçamento sem preço unitário, apenas com preço total.</p>
            <a href="{{ url('quote/simples/classico') }}" class="text-decoration-none">
                <img src="{{ url('templates/assets/img/gerais/orcamento-classico.png') }}" alt="Modelo Simples" class="img-fluid rounded border">    
            </a>
            
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h3 class="mt-2">Modelo Slim</h3>
            <p class="text-muted">Orçamento com preço unitário detalhado e soma total automática.</p>
            <a href="{{ url('quote/detalhado/slim') }}" class="text-decoration-none">
                <img src="{{ url('templates/assets/img/gerais/orcamento-slim.png') }}" alt="Modelo Slim" class="img-fluid rounded border">     
            </a>
            
        </div>        
    </div>

</div>

{% endblock %}
