RewriteEngine on

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_URI} ^/storage [NC]
RewriteRule ^ - [F,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1
