<style>
    /* Tema claro */
    [data-bs-theme="light"] .form-control::placeholder {
        color: #bbb !important;
        opacity: 1;
    }

    /* Tema escuro */
    [data-bs-theme="dark"] .form-control::placeholder {
        color: #474747 !important;
        opacity: 1;
    }
</style>
<div class="card border-1 shadow-lg p-3">
    <div class="text-center mb-3">
        {% if empresa().logo %}
        <img src="{{ url('templates/assets/img/logos/'~empresa().logo) }}" class="img-fluid" style="max-height: 150px;">
        {% endif %}
    </div>
    <div class="row g-2 mb-3">
        <div class="col-md-4">
            <label class="form-label">Seu nome*</label>
            <input required value="{{ empresa().nome }}" type="text" class="form-control form-control-sm"
                name="nome-empresa">
        </div>
        <div class="col-md-2">
            <label class="form-label"> Seu Email</label>
            <input value="{{ empresa().email }}" type="email" class="form-control form-control-sm" name="email-empresa">
        </div>
        <div class="col-md-2">
            <label class="form-label"> Seu Telefone</label>
            <input required value="{{ empresa().telefone }}" type="text" class="form-control form-control-sm"
                name="tel-empresa">
        </div>
        <div class="col-md-2">
            <label class="form-label">Celular</label>
            <input value="{{ empresa().celular }}" type="tel" class="form-control form-control-sm" name="celular">
        </div>
        <div class="col-md-2">
            <label class="form-label">Seu CNPJ</label>
            <input value="{{ empresa().cnpj }}" type="text" class="form-control form-control-sm" name="doc-empresa"
                id="cnpj-input" placeholder="00.000.000/0000-00" maxlength="18">
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col-md-1">
            <label class="form-label">CEP</label>
            <input value="{{ empresa().cep }}" type="text" class="form-control form-control-sm" name="cep">
        </div>
        <div class="col-md-5">
            <label class="form-label">Rua</label>
            <input value="{{ empresa().rua }}" type="text" class="form-control form-control-sm" name="rua">
        </div>
        <div class="col-md-1">
            <label class="form-label">Número</label>
            <input value="{{ empresa().n_casa }}" type="text" class="form-control form-control-sm" name="n_casa">
        </div>
        <div class="col-md-2">
            <label class="form-label">Bairro</label>
            <input value="{{ empresa().bairro }}" type="text" class="form-control form-control-sm" name="bairro">
        </div>
        <div class="col-md-2">
            <label class="form-label">Cidade</label>
            <input value="{{ empresa().cidade }}" type="text" class="form-control form-control-sm" name="cidade">
        </div>
        <div class="col-md-1">
            <label class="form-label">Estado</label>
            <select name="uf" class="form-select form-select-sm">
                <option value="" selected disabled>UF</option>
                {% for estado in
                ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO']
                %}
                <option {% if estado==empresa().uf %}selected{% endif %} value="{{ estado }}">{{ estado }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-text">Facebook</span>
                <input name="facebook" type="url" class="form-control" id="facebook"
                    placeholder="https://facebook.com/suaempresa" value="{{empresa().facebook}}">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-text">Instagram</span>
                <input name="instagram" type="url" class="form-control" id="instagram"
                    placeholder="https://instagram.com/suaempresa" value="{{empresa().instagram}}">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-text">YouTube</span>
                <input name="youtube" type="url" class="form-control" id="youtube"
                    placeholder="https://youtube.com/suaempresa" value="{{empresa().youtube}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-text">LinkedIn</span>
                <input name="linkedin" type="url" class="form-control" id="linkedin"
                    placeholder="https://linkedin.com/company/suaempresa" value="{{empresa().linkedin}}">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-text">X (Twitter)</span>
                <input name="x" type="url" class="form-control" id="x" placeholder="https://x.com/suaempresa"
                    value="{{empresa().x}}">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="input-group">
                <span class="input-group-text">TikTok</span>
                <input name="tiktok" type="url" class="form-control" id="tiktok"
                    placeholder="https://tiktok.com/suaempresa" value="{{empresa().tiktok}}">
            </div>
        </div>
    </div>
</div>