{% extends 'base.html' %}

{% block conteudo %}
<div>
{% include 'finances/menu.html' %}

    <div class="py-1">
        {{ flash() }}
    </div>

    <div class="card shadow-lg border-0 mb-3">

        <div class="card-body">
            <div class="d-flex justify-content-end">
                <div class="col-auto">
                    <button data-bs-toggle="modal" data-bs-target="#modalAdicionarDespesa"
                        class="btn btn-danger btn-sm">Nova
                        Despesa</button>
                    {% include 'finances/modals/add-expense.html' %}
                </div>
                <div class="col-auto ms-2">
                    <button data-bs-toggle="modal" data-bs-target="#modalAddCategory"
                        class="btn btn-secondary btn-sm">Nova Categoria</button>
                    {% include 'finances/modals/add-category.html' %}
                </div>
            </div>
            <small>
                <table id="data-table" class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="text-start">Valor</th>
                            <th class="text-center">Categoria</th>
                            <th class="text-center">Data</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td class="text-start">R$ {{ (expense.valor) | number_format(2, ',', '.') }}</td>
                            <td class="text-center">{{ expense.categoria }}</td>
                            <td class="text-center">{{ expense.dt_despesa | date("d/m/Y")}}</td>
                            <td class="text-center">

                                <a href title="Editar" class="text-primary text-decoration-none me-3" data-bs-toggle="modal"
                                    data-bs-target="#modalAdicionarDespesa{{ expense.id }}"><i
                                        class="bi bi-pencil-square fs-4"></i></a>

                                {% include 'finances/modals/add-expense.html' %}

                                <a href="#" title="Excluir" class="text-danger text-decoration-none"
                                    data-bs-toggle="modal" data-bs-target="#modalConfirmDelete{{ expense.id }}"><i
                                        class="bi bi-trash fs-4"></i></a>
                                {% include 'finances/modals/delete-expense.html' %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </small>
        </div>
    </div>
</div>


<script>
    //DataTable
    $(document).ready(function () {
        $('#data-table').DataTable({
            language: {
                url: "../templates/assets/DataTables/pt_br.json"
            },
            pageLength: 10, // Define o número de linhas por página
            lengthMenu: [5, 10, 25, 50, 100], // Opções de linhas por página
            ordering: false, // Habilita ordenação
            responsive: true // Torna a tabela responsiva
        });
    });
</script>

{% endblock %}