<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>

    <!--icones lineicons (TIRAR DEPOIS) -->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <!-- Editor Trumbowyg -->
    <link rel="stylesheet" href="{{url('templates/admin/assets/Trumbowyg/dist/ui/trumbowyg.min.css')}}">

    <!-- icones Bootstrap -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">


    <!-- Fonteawesome (REMOVER DEPOIS) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link arquivo CSS -->
    <link rel="stylesheet" href="{{url('templates/admin/assets/css/style.css')}}">

    <!-- Jquery -->
    <script src="{{url('templates/admin/assets/js/jquery.js')}}"></script>


</head>

<body>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="bi bi-list"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">MENU</a>
                </div>
            </div>
            <ul class="sidebar-nav">

                <!-- Início -->
                <li class="sidebar-item" title="Início">
                    <a href="{{url('admin/dashboard')}}" class="sidebar-link">
                        <i class="bi bi-house"></i>
                        <span>Início</span>
                    </a>
                </li>
                <!-- end Início -->

                <!-- Web Site -->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="bi bi-globe"></i>
                        <span>Web Site</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{{url('admin/posts/listar')}}" class="sidebar-link">Posts</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="{{url('admin/categorias/listar')}}" class="sidebar-link">Categorias</a>
                        </li>

                    </ul>
                </li>
                <!-- end Web Site -->

                <!-- Usuários -->
                <li class="sidebar-item" title="Usuários">
                    <a href="{{url('admin/usuarios/listar')}}" class="sidebar-link">
                        <i class="bi bi-people"></i>
                        <span>Usuários</span>
                    </a>
                </li>
        </aside>

        <!-- Menu header -->
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-3">
                <form action="#" class="d-none d-sm-inline-block">

                </form>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-link d-flex align-items-center">
                                <img src="{{url('templates/admin/assets/img/account.png')}}"
                                    class="avatar img-fluid me-2" alt="">
                                <span>{{usuario().nome}}</span>
                                <i class="bi bi-chevron-down ms-2"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end rounded">
                                <li><a href="#" class="dropdown-item">Perfil</a></li>
                                <li><a href="{{url('admin/sair')}}" class="dropdown-item">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="p-4 sha bg-light">
                {% block content %}

                <!-- Conteúdo -->

                {% endblock %}
            </div>
        </div>
    </div>



    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Js interno -->
    <script src="{{url('templates/admin/assets/js/script.js')}}"></script>

    <!-- Editor Trumbowyg -->
    <script src="{{url('templates/admin/assets/Trumbowyg/dist/trumbowyg.js')}}"></script>
    <script src="{{url('templates/admin/assets/Trumbowyg/dist/langs/pt_br.min.js')}}"></script>
    <script src="{{url('templates/admin/assets/Trumbowyg/dist/plugins/upload/trumbowyg.upload.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.27.3/plugins/noembed/trumbowyg.noembed.min.js"></script>


</body>

</html>