/* Define que o HTML e o corpo da página ocupem 100% da altura da tela e 
   impedem a rolagem para evitar deslocamento da página */
html,
body {
    height: 100% !important;
    overflow: hidden;
}

/* Personalização da barra de rolagem para os elementos com a classe .chat-messages */
.chat-messages::-webkit-scrollbar {
    width: 4px;
    /* Define a largura da barra de rolagem */
}

.chat-messages::-webkit-scrollbar-track {
    background: white;
    /* Define a cor de fundo da trilha da barra de rolagem */
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #245069;
    /* Cor do "polegar" da barra de rolagem */
}

/* Define cores para status de usuários no chat */
.chat-online {
    color: #34ce57;
    /* Verde para usuários online */
}

.chat-offline {
    color: #e4606d;
    /* Vermelho para usuários offline */
}

/* Estiliza a área de mensagens do chat */
.chat-messages {
    display: flex;
    flex-direction: column;
    /* As mensagens são organizadas verticalmente */
    max-height: 450px;
    /* Define uma altura máxima para a área de mensagens */
    overflow-y: auto;
    /* Permite rolagem vertical quando necessário */
}

/* Define a estrutura das mensagens dentro do chat */
.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
    /* Evita que os elementos encolham */
}

/* Coloca uma distancia mínima do chat para o editor */
div.chat-messages.p-4.flex-grow-1 {
    bottom: 37% !important;
    top: 1%;
}

/* Alinha mensagens à esquerda */
.chat-message-left {
    margin-right: auto;
    /* Empurra a mensagem para a esquerda */
}

/* Alinha mensagens à direita e inverte a ordem dos elementos */
.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
    /* Empurra a mensagem para a direita */
}

/* Ajustes de espaçamento */
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

/* Evita que o elemento cresça dentro do flexbox */
.flex-grow-0 {
    flex-grow: 0 !important;
}

/* Adiciona uma borda superior para separar elementos */
.border-top {
    border-top: 1px solid #dee2e6 !important;
}

/* Define altura mínima da área lateral do chat */
div.col-12.col-lg-5.col-xl-3 {
    min-height: 100vh;
}

/* Define o posicionamento e largura da área de mensagens */
div.chat-messages.p-4 {
    position: fixed;
    right: 0;
    width: 75%;
}

/* Define o posicionamento e largura da área de entrada de mensagens */
div.flex-grow-0.py-3.px-4.border-top.py-5 {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 75%;
    background-color: white;
    /* Fundo branco para melhor visibilidade */
}

/* Personalização da barra de rolagem para elementos com a classe .scroll-container */
.scroll-container::-webkit-scrollbar {
    width: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #245069;
    /* Define a cor de fundo da trilha */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: white;
    /* Define a cor do "polegar" da barra */
}

/* Define um tamanho mínimo e máximo para a caixa de texto do editor Trumbowyg */
.trumbowyg-box {
    min-height: 100px !important;
    max-height: 85vh !important;
}

/* Força a modal de inserção arquivo */
div.trumbowyg-modal.trumbowyg-fixed-top {
    padding-top: 90vh !important;
    position: fixed !important;
    top: 100% !important;
    transform: translate(-50%, -50%);
    z-index: 1000000 !important;
}

/* Permite que a área do cabeçalho (azul) tenha rolagem quando necessário */
.scroll-container {
    max-height: 100vh;
    overflow-y: auto;
}

@media (max-width: 768px) {

    #sidebar-cabecalho {
        display: none;
    }
    div.chat-messages.p-4.flex-grow-1 {
        min-height: 20vh !important;
    }

    div.chat-messages.p-4.flex-grow-1 {
        width: 100%;
    }

    div.flex-grow-0.py-3.px-4.border-top.py-5 {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    #sidebar-cabecalho {
        width: 250px;
    }
    div.chat-messages.p-4.flex-grow-1 {
        min-height: 70vh !important;
    }
}




