/* Força o footer a ficar na parte de baixo */
html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Nunito",  sans-serif;
    --nav-font: "Inter",  sans-serif;;
  }
  
  main {
    flex: 1; /* ocupa todo o espaço disponível */
    display: flex;
    flex-direction: column;
  }
  
  main > .w-full {
    flex: 1; /* garante que o conteúdo cresça empurrando o footer */
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto; /* cola o footer no final */
  }
  