{% extends 'base.html' %}

{% block conteudo %}
<style>
    .profile-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        transition: transform 0.3s;
        cursor: pointer;
    }

    .upload-icon {
        background: white;
        color: #373643;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 120px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid #373643 1px;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        justify-content: center;
    }

    .theme-switcher {
        display: flex;
        background-color: #f8f9fa;
        border-radius: 50px;
        padding: 5px;
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 15px 0;
    }

    .theme-option {
        flex: 1;
        text-align: center;
        padding: 12px 0;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .theme-option.active {
        color: white;
    }

    .theme-slider {
        position: absolute;
        top: 5px;
        bottom: 5px;
        border-radius: 50px;
        transition: all 0.3s ease;
        z-index: 0;
    }

    .theme-option[data-bs-theme-value="light"].active~.theme-slider {
        background-color: #d8d8d8;
        left: 5px;
        width: calc(33.333% - 10px);
    }

    .theme-option[data-bs-theme-value="dark"].active~.theme-slider {
        background-color: #212529;
        left: calc(33.333% + 5px);
        width: calc(33.333% - 10px);
    }

    .theme-option[data-bs-theme-value="auto"].active~.theme-slider {
        background: linear-gradient(90deg, #d8d8d8 50%, #212529 50%);
        left: calc(66.666% + 5px);
        width: calc(33.333% - 10px);
    }

    .card {
        margin-top: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .profile-info {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .profile-info strong {
        display: inline-block;
        width: 100px;
    }
    
</style>
{{ flash() }}
<!-- Card de Informações do Perfil -->
<div class="card pb-4 shadow-lg mb-4">

    <div class="card-header">
        <h5 class="mb-0">Informações de Cadastro</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <img width="90px"
                    src="{% if usuario().img_logo != null %}{{ url('templates/assets/img/perfil/'~usuario().img_logo) }}{% else %}{{ url('templates/assets/img/gerais/sem-foto.png?=1.2') }}{% endif %}"
                    class="rounded-circle">
            </div>
            {% if usuario().img_logo %}
            <form action="{{ url('profile/image/'~usuario().id)}}" method="post">
                <input type="hidden" name="_method" value="PATCH">
                <div class="text-start">
                    <button class="btn btn-outline-danger btn-sm">Remover Foto</button>
                </div>
            </form>
            {% endif %}
            <div class="col-md-9">
                <p class="profile-info"><strong>Nome:</strong> {{ usuario().nome }}</p>
                <p class="profile-info"><strong>Email:</strong> {{ usuario().email }}</p>
                <p class="profile-info"><strong>Telefone:</strong> {{ usuario().telefone }}</p>
            </div>
        </div>

        <div class="mt-4">
            <button type="button" class="botao" data-bs-toggle="modal" data-bs-target="#modalEditarPerfil">
                Editar Perfil
            </button>
        </div>
    </div>
</div>

<!-- Modal para Edição do Perfil -->
<div class="modal fade" id="modalEditarPerfil" tabindex="-1" aria-labelledby="modalEditarPerfilLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarPerfilLabel">Editar Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url('profile') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <div class="modal-body">
                    <div class="d-flex justify-content-center mb-3">
                        <div>
                            <img id="preview"
                                src="{% if usuario().img_logo != null %}{{ url('templates/assets/img/perfil/'~usuario().img_logo) }}{% else %}{{ url('templates/assets/img/gerais/sem-foto.png?=1.2') }}{% endif %}"
                                class="profile-img rounded-circle">

                            <input type="file" name="imagem" id="imagem" hidden>
                            <label for="imagem" class="upload-icon">
                                <i class="bi bi-camera"></i>
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Seu Nome</label>
                        <input name="nome" value="{{ usuario().nome }}" type="text" class="form-control"
                            placeholder="Digite seu nome">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Seu Email</label>
                        <input name="email" value="{{ usuario().email }}" type="email" class="form-control"
                            placeholder="Digite seu e-mail">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Seu Telefone</label>
                        <input name="telefone" value="{{ usuario().telefone }}" type="text" class="form-control"
                            placeholder="Digite seu telefone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botao">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Configurações de Aparência -->
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Configurações de Aparência</h5>
    </div>
    <div class="card-body">
        <h6 class="mb-3">Selecione o tema desejado:</h6>
        <div class="theme-switcher">
            <div style="color: #212529;" class="theme-option active" data-bs-theme-value="light">
                <i class="bi bi-sun-fill"></i>
                <span>Claro</span>
            </div>
            <div class="theme-option" data-bs-theme-value="dark">
                <i class="bi bi-moon-stars-fill"></i>
                <span>Escuro</span>
            </div>
            <div class="theme-option" data-bs-theme-value="auto">
                <i style="color: #212529;" class="bi bi-circle-half"></i>
                <span>Automático</span>
            </div>
            <div class="theme-slider"></div>
        </div>

        <div class="mt-4">
            <p class="text-muted">O tema automático seguirá as preferências do seu sistema operacional.</p>
        </div>
    </div>
</div>

<!-- Área Perigosa -->
<div class="card">
    <div class="card-header">
        <h5 class="mb-0 text-danger">Área Perigosa!</h5>
    </div>
    <div class="card-body">
        <h6 class="mb-3">Excluir minha Conta</h6>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConfirmDeleteConta">Excluir Minha
            Conta</button>
        <div class="mt-4">
            <p class="text-muted">A exclusão da conta apagará todos os seus dados de maneira irreversivel!</p>
        </div>
    </div>
</div>

<!-- Modal Excluir -->
<div class="modal fade" id="modalConfirmDeleteConta" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="modalLabel">
                    <i class="bi bi-exclamation-triangle-fill text-danger"></i> <span class="text-body">Atenção!</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class="text-body">Deseja realmente excluir sua conta e <strong>todos os seus dados?</strong></p>
                <p class="text-muted">Esta ação não poderá ser desfeita.</p>
            </div>
            <div style="margin-top: -25px;" class="modal-footer border-0 d-flex justify-content-center">
                <button style="background-color: #5C636A; color: white;" type="button" class="btn btn-sm btn-secondary"
                    data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i> Cancelar
                </button>
                <a href="{{ url('config/excluir/'~usuario().id) }}" class="btn-sm btn btn-danger">
                    <i class="bi bi-trash-fill me-1"></i> Excluir
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    // Script para preview da imagem
    document.getElementById('imagem').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('preview').src = e.target.result;
                document.getElementById('preview-modal').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    // Script para o tema
    document.addEventListener('DOMContentLoaded', function () {
        const themeOptions = document.querySelectorAll('.theme-option');

        // Função para ativar o tema selecionado
        function setActiveTheme(selectedTheme) {
            themeOptions.forEach(option => {
                option.classList.remove('active');
            });

            const selectedOption = document.querySelector(`.theme-option[data-bs-theme-value="${selectedTheme}"]`);
            selectedOption.classList.add('active');
        }

        // Adicionar event listeners para os botões
        themeOptions.forEach(option => {
            option.addEventListener('click', function () {
                const themeValue = this.getAttribute('data-bs-theme-value');
                setActiveTheme(themeValue);
            });
        });

        // Inicializar com o tema atual (pode ser obtido do localStorage)
        const currentTheme = localStorage.getItem('theme') || 'auto';
        setActiveTheme(currentTheme);
    });
</script>

{% endblock %}