{% extends 'base.html' %}
{% block conteudo %}

<style>
  .list-quotes {
    max-height: 300px;
    overflow-y: auto;
  }

  .list-quotes::-webkit-scrollbar {
    width: 6px;
  }

  .list-quotes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .list-quotes::-webkit-scrollbar-thumb {
    background: #52D8B0;
    border-radius: 10px;
  }

  .list-quotes::-webkit-scrollbar-thumb:hover {
    background: #52D8B0;
  }

  .list-quotes {
    scrollbar-width: thin;
    scrollbar-color: #52D8B0 #f1f1f1;
  }

  .quick-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .quick-action-item {
    background-color: var(--bd-violet-color);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid #c7c7c7;
    cursor: pointer;
  }

  .quick-action-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #52D8B0;
  }

  .quick-action-item:hover a {
    color: #34383D !important;
  }

  .quick-action-item i {
    font-size: 24px;
    margin-bottom: 10px;
    color: #52D8B0;
  }

  .quick-action-item:hover i {
    color: white;
  }

  .quick-action-item h6 {
    margin-bottom: 0;
    font-weight: 600;
  }
</style>

<div class="mt-2">
  {{ flash() }}
</div>
<h4>Resumo financeiro</h4>
<div class="row">
  <!-- card1 -->
  <div class="col-12 col-sm-6 col-xl-3 mb-3">
    <div class="card shadow-sm rounded-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-1 fw-semibold small">Saldo do mês</p>
          <h5 class="mb-0 fw-bold">R$ {{ cashBalanceMonth | number_format(2, ',', '.') }}</h5>
        </div>
        <div style="background-color: #52D8B0;" class="d-flex align-items-center justify-content-center p-3 rounded">
          <i style="color: #34383D;" class="bi bi-currency-dollar"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- card2 -->
  <div class="col-12 col-sm-6 col-xl-3 mb-3">
    <div class="card shadow-sm rounded-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-1 fw-semibold small">Receitas do Mês</p>
          <h5 class="mb-0 fw-bold">R$ {{ totalRevenueMonth | number_format(2, ',', '.') }}</h5>
        </div>
        <div style="background-color: #52D8B0;"
          class="d-flex align-items-center justify-content-center bg-gradient p-3 rounded">
          <i style="color: #34383D;" class="bi bi-graph-up-arrow"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- card3 -->
  <div class="col-12 col-sm-6 col-xl-3 mb-3">
    <div class="card shadow-sm rounded-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-1 fw-semibold small">Despesas do Mês</p>
          <h5 class="mb-0 fw-bold">R$ {{ totalExpenseMonth | number_format(2, ',', '.') }}</h5>
        </div>
        <div style="background-color: #52D8B0;"
          class="d-flex align-items-center justify-content-center bg-gradient p-3 rounded">
          <i style="color: #34383D;" class="bi bi-graph-down-arrow"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- card4 -->
  <div class="col-12 col-sm-6 col-xl-3 mb-3">
    <div class="card shadow-sm rounded-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-1 fw-semibold small">Margem</p>
          <h5 class="mb-0 fw-bold">{{ marginMonth }} %</h5>
        </div>
        <div style="background-color: #52D8B0;"
          class="d-flex align-items-center justify-content-center bg-gradient p-3 rounded">
          <i style="color: #34383D;" class="bi bi-percent"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <!-- Actions -->
  <div class="col-lg-8 mb-3">
    <div class="card shadow-sm rounded-3 h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0">Ações Rápidas</h6>
      </div>
      <div class="card-body">
        <div class="quick-actions">
          <a href="{{url('orcamento/modelos')}}" class="text-decoration-none text-body quick-action-item">
            <i class="bi bi-file-earmark-plus"></i>
            <h6>Novo Orçamento</h6>
          </a>

          <a href="#" class="text-decoration-none text-body quick-action-item">
            <i class="bi bi-receipt"></i>
            <h6>Emitir Recibo (em desenvolvimento)</h6>
          </a>

          <a href="#" data-bs-toggle="modal" data-bs-target="#modalClientes"
            class="text-decoration-none text-body quick-action-item">
            <i class="bi bi-person-plus"></i>
            <h6>Novo Cliente</h6>
          </a>
          {% include 'clients/modais/form.html' %}

          <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddRevenue"
            class="text-decoration-none text-body quick-action-item">
            <i class="bi bi-cash-coin"></i>
            <h6>Registrar Receita</h6>
          </a>
          {% include 'finances/modals/add-revenue.html' %}

          <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddExpense"
            class="text-decoration-none text-body quick-action-item">
            <i class="bi bi-currency-exchange"></i>
            <h6>Registrar Despesa</h6>
          </a>
          {% include 'finances/modals/add-expense.html' %}

          <a href="{{url('list/templates')}}" class="text-decoration-none text-body quick-action-item">
            <i class="bi bi-box-seam"></i>
            <h6>Criar Lista</h6>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Quotes -->
  <div class="col-lg-4">
    <div class="card shadow-sm rounded-3 h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0">Últimos Orçamentos</h6>
        <a href="{{url('orcamento/listar')}}" class="botao">Ver Todos</a>
      </div>
      <div class="card-body">
        <ul class="list-group list-quotes">
          {% for quote in quotes %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <h6 class="mb-1 small fw-semibold">{{ quote.client_name}}</h6>
              <span class="text-muted small">{{ quote.dt_hr_criacao | date('d/m/Y') }}</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="me-3">R$ {{ quote.vl_total | number_format(2, ',', '.') }}</span>
              <a href="{{url('orcamento/'~quote.modelo~'/'~quote.hash)}}" target="_blank" class="btn btn-sm">
                <i class="fas fa-eye"></i> Ver
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}