<!-- Modal -->
<style>
    .money-mask {
        text-align: right;
        padding-right: 10px;
    }
</style>
<div class="modal fade" id="modalAddExpense{{ expense.id }}" tabindex="-1"
    aria-labelledby="modalLabelAddExpense{{ expense.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="modalLabelAddExpense{{ expense.id }}">
                    <i class="bi bi-cart-x-fill text-danger"></i>
                    <span class="text-body">
                        {% if expense.id %}Editar Despesa{% else %}Nova Despesa{% endif %}
                    </span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form method="post" {% if expense.id %} action="{{ url('finance/expense/' ~ expense.id) }}" {% else %}
                action="{{ url('finance/expense') }}" {% endif %}>

                {% if expense.id %}
                <input type="hidden" name="_method" value="put">
                {% endif %}

                <div class="modal-body">
                    <div class="mb-3 d-flex align-items-end gap-2">

                        {% if categoriesExpense %}
                        <div class="flex-grow-1" style="max-width: 140px;">
                            <label for="value" class="form-label small mb-1">Valor</label>
                            <div class="input-group">
                                <span class="input-group-text">R$</span>
                                <input value="{{ expense.valor }}" type="text"
                                    class="form-control money-mask{{expense.id}} text-end" id="value"
                                    name="expense" placeholder="0,00" required>
                            </div>
                        </div>

                        <div class="flex-grow-1">
                            <label for="category"
                                class="form-label small mb-1">Categoria</label>
                            <select required name="category_id" id="category"
                                class="form-select">
                                <option value="" disabled {% if not expense.id %}selected{% endif %}>Selecione...
                                </option>
                                {% for category in categories %}
                                <option {% if expense.id_categoria==category.id %} selected {% endif %}
                                    value="{{ category.id }}">{{ category.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="flex-grow-1" style="max-width: 140px;">
                            <label for="date" class="form-label small mb-1">Data</label>
                            <input value="{{ expense.dt_despesa }}" required class="form-control" type="date"
                                id="date" name="date">
                        </div>
                        {% else %}
                        <div class="text-center">
                            <span>Para cadastrar uma despesa você precisa cadastrar pelo menos uma categoria do tipo
                                "Despesas"</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div style="margin-top: -25px;" class="modal-footer border-0 d-flex justify-content-center">
                    <button style="background-color: #5C636A; color: white;" type="button"
                        class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle me-1"></i> Cancelar
                    </button>
                    <button style="background-color: #157347; color: white;" {% if categories==null %} disabled {% endif
                        %} type="submit" class="btn-sm btn btn-success">
                        <i class="bi bi-check-circle-fill me-1"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% block code_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        formatNumberPtBr('.money-mask{{ expense.id }}');
    });
</script>
{% endblock %}