{% extends 'base.html' %}

{% block conteudo %}

<div class="container">
{% include '/admin/nav.html' %}
    <!-- Usuários -->
    <div class="card mb-5 shadow">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0" id="table">
                    <thead class="table-light">
                        <tr>
                            <th>Nome</th>
                            <th>Cadastrado em</th>
                            <th>Profissão</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.nome }}</td>
                            <td>{{ usuario.cadastrado_em|date('d/m/Y H:i') }}</td>
                            <td>{{ usuario.profissao }}</td>
                            <td class="text-center">
                                {% if usuario.status == 1 %}
                                <i class="bi bi-check-circle text-success"></i>
                                {% else %}
                                <i class="bi bi-ban text-danger"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{url('admin/excluir-usuario')}}">
                                    <i class="bi bi-trash fs-4 text-danger"></i>
                                </a>
                                <a href="{{url('admin/block-usuario')}}">
                                    <i class="bi bi-lock fs-4 text-primary"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        //DataTable
        $(document).ready(function () {
            $('#table').DataTable({
                language: {
                    url: "../templates/assets/DataTables/pt_br.json"
                },
                pageLength: 10, // Define o número de linhas por página
                lengthMenu: [5, 10, 25, 50, 100], // Opções de linhas por página
                ordering: false, // Habilita ordenação
                responsive: true // Torna a tabela responsiva
            });
        });
    </script>

    {% endblock %}