<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Orçamento {{ titulo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .section-title-orcamento {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 10px;
            font-weight: bold;
            margin-top: 2rem;
        }

        .titulo-orcamento {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #343a40;
        }

        .footer {
            margin-top: 2rem;
            text-align: center;
            color: #6c757d;
            font-style: italic;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;
        }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="bg-white">
        <table class="bg-light border-bottom border-primary border-2" style="width: 100%;">
            <tbody>
                <tr>
                    {% if empresa().logo %}
                    <td style="width: 30%; vertical-align: middle; padding: 20px;">
                        <img src="{{ url('templates/assets/img/logos/'~empresa().logo) }}" class="img-fluid"
                            style="max-height: 220px;">
                    </td>
                    {% endif %}
                    <td style="width: 70%; vertical-align: middle;">
                        <h2 class="fw-bold mb-2">{{ dataCompany.nome_empresa }}</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <p style="font-size: 15px;" class="mb-1">
                                    <i class="fas fa-phone-alt text-muted me-1"></i>
                                    {{ dataCompany.telefone_empresa }} / {{ dataCompany.celular_empresa }}
                                </p>
                                {% if dataCompany.cnpj_empresa %}
                                <p style="font-size: 15px;" class="mb-1">
                                    <i class="fas fa-id-card text-muted me-1"></i>
                                    {{ dataCompany.cnpj_empresa }}
                                </p>
                                {% endif %}
                                {% if dataCompany.email_empresa %}
                                <p style="font-size: 15px;" class="mb-1">
                                    <i class="fas fa-envelope text-muted me-1"></i>
                                    {{ dataCompany['email-empresa'] }}
                                </p>
                                {% endif %}
                                {% if dataCompany.rua_empresa or dataCompany.n_casa_empresa or
                                dataCompany.bairro_empresa or dataCompany.cep_empresa or
                                dataCompany.cidade_empresa or dataCompany.uf_empresa %}
                                <p style="font-size: 15px;" class="mb-1">
                                    <i class="fas fa-map-marker-alt text-muted me-1"></i>
                                    {{ dataCompany.rua_empresa }}
                                    {% if dataCompany.n_casa_empresa %}, {{dataCompany.n_casa_empresa }}{% endif %}
                                    {% if dataCompany.bairro_empresa %} - {{ dataCompany.bairro_empresa }}{% endif
                                    %}
                                    {% if dataCompany.cep_empresa %}. CEP: {{ dataCompany.cep_empresa }}{% endif %}
                                    {% if dataCompany.cidade_empresa %}. {{ dataCompany.cidade_empresa }}{% endif %}
                                    {% if dataCompany.uf_empresa %}/{{ dataCompany.uf_empresa }}{% endif %}.
                                </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mt-1">
                            {% if dataCompany.facebook %}
                            <span class="me-1">
                                <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook" class="me-1"
                                    style="width: 15px; height: 15px; margin-top: 10px;">
                                {{ dataCompany.facebook }}
                            </span>
                            {% endif %}
                        
                            {% if dataCompany.instagram %}
                            <span class="me-1">
                                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" class="me-1"
                                    style="width: 15px; height: 15px; margin-top: 10px;">
                                {{ dataCompany.instagram }}
                            </span>
                            {% endif %}
                        
                            {% if dataCompany.x %}
                            <span class="me-1">
                                <img src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png" alt="X (Twitter)" class="me-1"
                                    style="width: 15px; height: 15px; margin-top: 10px;">
                                {{ dataCompany.x }}
                            </span>
                            {% endif %}
                        
                            {% if dataCompany.tiktok %}
                        
                            <span class="me-1">
                                <img src="{{url('templates/assets/img/gerais/tiktok.png')}}" alt="LinkedIn" class="me-1"
                                    style="width: 15px; height: 15px; margin-top: 10px;">
                                {{ dataCompany.tiktok }}
                            </span>
                            {% endif %}
                        
                            {% if dataCompany.linkedin %}
                            <span class="me-1">
                                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" class="me-1"
                                    style="width: 15px; height: 15px; margin-top: 10px;">
                                {{ dataCompany.linkedin }}
                            </span>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="section-title-orcamento">
            Dados do Cliente
        </div>
        <div class="mb-3 border p-2">
            <p class="mb-0 border-bottom"><strong>Nome:</strong> {{ dataClient.nome_cliente }}</p>

            {% if dataClient.cpf_cnpj_cliente %}
            <p class="mb-0 border-bottom"><strong>CPF/CNPJ:</strong> {{ dataClient.cpf_cnpj_cliente }}</p>
            {% endif %}

            {% if dataClient.cep_cliente or dataClient.rua_cliente or dataClient.n_casa_cliente or
            dataClient.bairro_cliente or dataClient.cidade_cliente or dataClient.uf_cliente %}
            <p class="mb-0 border-bottom">
                <strong>Endereço:</strong>
                {% if dataClient.rua_cliente %}{{ dataClient.rua_cliente }}{% endif %}
                {% if dataClient.n_casa_cliente %}, {{ dataClient.n_casa_cliente }}{% endif %}
                {% if dataClient.bairro_cliente %} - {{ dataClient.bairro_cliente }}{% endif %}
                {% if dataClient.cidade_cliente %} - {{ dataClient.cidade_cliente }}{% endif %}
                {% if dataClient.uf_cliente %}/{{ dataClient.uf_cliente }}{% endif %}
                {% if dataClient.cep_cliente %} - CEP: {{ dataClient.cep_cliente }}{% endif %}
            </p>
            {% endif %}

            {% if dataClient.telefone_cliente or dataClient.celular_cliente %}
            <p class="mb-0 border-bottom">
                <strong>Contato:</strong>
                {% if dataClient.telefone_cliente %}Tel: {{ dataClient.telefone_cliente }}{% endif %}
                {% if dataClient.telefone_cliente and dataClient.celular_cliente %} / {% endif %}
                {% if dataClient.celular_cliente %}Cel: {{ dataClient.celular_cliente }}{% endif %}
            </p>
            {% endif %}

            {% if dataClient.email_cliente %}
            <p class="mb-0"><strong>Email:</strong> {{ dataClient.email_cliente }}</p>
            {% endif %}
        </div>

        <div class="titulo-orcamento">
            <p>Orçamento</p>
        </div>

        <table class="table">
            <thead style="background-color: #343a40;">
                <tr>
                    <th class="text-white text-center">Qtd.</th>
                    <th class="text-white w-100">Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr style="border-left: #dee2e6 solid 1px; border-right: #dee2e6 solid 1px;">
                    <td class="text-center">{{ item.qtd }}</td>
                    <td>
                        {{ item.nome }}<br>
                        <small style="font-size: 13px; font-style: italic">{{ item.descricao }}</small>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-end bg-light border-top border-primary border-2">
            <div style="font-size: 20px; color: #343a40;" class="fw-bold pt-3 me-2">Total Geral</div>
            <div style="font-size: 20px;" class="text-success fw-bold pb-3 me-2">R$ {{ dataQuotes|number_format(2,
                ',', '.') }}</div>
        </div>
        <div class="footer">
            {% if fullData['validade-orcamento'] %}
            <p>*Validade do orçamento: {{ fullData['validade-orcamento']|date('d/m/Y') }}</p>
            {% endif %}
            {% if fullData.anotacoes %}
            <p>*{{ fullData.anotacoes }}</p>
            {% endif %}
            <p>Obrigado por solicitar um orçamento conosco! Para dúvidas, entre em contato.</p>
        </div>
    </div>
</body>

</html>