<!-- Modal Adicionar/Editar Categoria -->
<div class="modal fade" id="modalAdicionarCategoria{% if categoria.id %}{{ categoria.id }}{% endif %}" tabindex="-1" aria-labelledby="modalLabelAdicionarCategoria{% if categoria.id %}{{ categoria.id }}{% endif %}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="modalLabelAdicionarCategoria{% if categoria.id %}{{ categoria.id }}{% endif %}">
                    <i class="bi bi-tag-fill"></i>
                    <span class="text-dark">
                        {% if categoria.id %}Editar Categoria{% else %}Nova Categoria{% endif %}
                    </span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" {% if categoria.id %} action="{{ url('editar-categoria/' ~ categoria.id) }}" {% else %} action="{{ url('add-categoria') }}" {% endif %}>
                <div class="modal-body">
                    <div class="mb-3">

                        {% if tipos is null %}
                        <!-- Campo Hidden -->
                        <input readonly disabled type="text" class="form-control mb-3" name="tipo" value="{{ tipo }}">
                        {% else %}
                        <select name="tipo" class="form-select mb-3">
                            <option selected disabled>Selecione o tipo da categoria</option>
                            <option value="{{ tipos[0] }}">{{ tipos[0] }}</option>
                            <option value="{{ tipos[1] }}">{{ tipos[1] }}</option>   
                        </select>
                        {% endif %}
                        <!-- Campo Nome da Categoria -->
                        <input type="text" class="form-control" name="nome" 
                               placeholder="Digite o nome da categoria" 
                               value="{{ categoria.nome }}"
                               required maxlength="50">
                    </div>
                </div>
                <div style="margin-top: -25px;" class="modal-footer border-0 d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle me-1"></i> Cancelar
                    </button>
                    <button type="submit" class="btn-sm btn btn-success">
                        <i class="bi bi-check-circle-fill me-1"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>