<!-- Modal Adicionar/Editar Despesa -->
<div class="modal fade" id="modalAdicionarDespesa{{ despesa.id }}" tabindex="-1" aria-labelledby="modalLabelAdicionarDespesa{{ despesa.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="modalLabelAdicionarDespesa{{ despesa.id }}">
                    <i class="bi bi-cart-x-fill text-danger"></i>
                    <span class="text-dark">
                        {% if despesa.id %}Editar Despesa{% else %}Nova Despesa{% endif %}
                    </span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" {% if despesa.id %} action="{{ url('editar-despesa/' ~ despesa.id) }}" {% else %} action="{{ url('add-despesa') }}" {% endif %}>
                <div class="modal-body">
                    <div class="mb-3 d-flex align-items-end gap-2">
                        <!-- Campo Valor -->
                        <div class="flex-grow-1" style="max-width: 140px;">
                            <label for="valorDespesa{{ despesa.id }}" class="form-label small mb-1">Valor</label>
                            <div class="input-group">
                                <span class="input-group-text">R$</span>
                                <input value="{{ (despesa.valor/100) | number_format(2, ",", ".") }}" type="text" class="form-control money-mask text-end" 
                                       id="valorDespesa{{ despesa.id }}" name="despesa" 
                                       placeholder="0,00" required>
                            </div>
                        </div>
                    
                        <!-- Campo Categoria -->
                        <div class="flex-grow-1">
                            <label for="categoriaDespesa{{ despesa.id }}" class="form-label small mb-1">Categoria</label>
                            <select required name="id-categoria" id="categoriaDespesa{{ despesa.id }}" class="form-select">
                                <option value="" disabled {% if not despesa.id %}selected{% endif %}>Selecione...</option>
                                {% for categoria in categorias %}
                                <option {% if despesa.id_categoria == categoria.id %} selected {% endif %} value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <!-- Campo Data -->
                        <div class="flex-grow-1" style="max-width: 140px;">
                            <label for="dataDespesa{{ despesa.id }}" class="form-label small mb-1">Data</label>
                            <input value="{{ despesa.dt_despesa }}" required class="form-control" type="date" id="dataDespesa{{ despesa.id }}" name="data">
                        </div>
                    </div>
                </div>
                <div style="margin-top: -25px;" class="modal-footer border-0 d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle me-1"></i> Cancelar
                    </button>
                    <button type="submit" class="btn-sm btn btn-success">
                        <i class="bi bi-check-circle-fill me-1"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
