{% extends 'base.html' %}

{% block conteudo %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
    .card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
        transform: scale(1.02);
    }       
</style>

<div class="mt-4">

    {{ flash() }}

    <form action="dashboard-financas" method="post">
        <div class="mb-3 d-flex justify-content-end">
            <div class="d-flex align-items-center gap-2 flex-wrap">
                <label for="data" class="form-control-md fw-bold">Escolha o mês e ano dos dados</label>
                <input value="{{ data }}" class="form-control form-control-sm" type="month" name="data" id="data"
                    style="width: 160px;">
                <button style="background-color: black; color: white;" type="submit" class="btn text-nowrap btn-sm">Buscar dados financeiros</button>
            </div>
        </div>
    </form>

    <!-- Cards Resumo -->
    <div class="row g-3 mb-4">
        <!-- Receita -->
        <div class="col-md-6 col-lg-4">
            <a href="{{ url('receitas') }}" class="text-decoration-none">
                <div class="card shadow-sm border-0 bg-success text-white h-100 position-relative"
                    style="cursor: pointer; transition: all 0.2s ease;">
                    <div class="card-body">
                        <h6 class="card-title"><i class="bi bi-cash-coin me-2"></i>Receita do mês {{ data|date("m/Y") }}
                        </h6>
                        <h4 class="text-white">R$ {{ receita_total|number_format(2, ',', '.') }}</h4>
                        <i class="bi bi-plus-circle-fill position-absolute top-0 end-0 m-2" title="Ver detalhes"></i>
                        <span class="stretched-link"></span>
                    </div>
                </div>
            </a>
        </div>

        <!-- Despesas -->
        <div class="col-md-6 col-lg-4">
            <a href="{{ url('despesas') }}" class="text-decoration-none">
                <div class="card shadow-sm border-0 bg-danger text-white h-100 position-relative"
                    style="cursor: pointer; transition: all 0.2s ease;">
                    <div class="card-body">
                        <h6 class="card-title"><i class="bi bi-cart-x-fill me-2"></i>Despesas do mês {{ data|date("m/Y")
                            }}</h6>
                        <h4 class="text-white" >R$ {{ despesas_total|number_format(2, ',', '.') }}</h4>
                        <i class="bi bi-plus-circle-fill position-absolute top-0 end-0 m-2" title="Ver detalhes"></i>
                        <span class="stretched-link"></span>
                    </div>
                </div>
            </a>
        </div>

        <!-- Saldo -->
        <div class="col-md-6 col-lg-4">
            <a href="#" class="text-decoration-none">
                <div class="card shadow-sm border-0 bg-primary text-white h-100 position-relative"
                    style="cursor: pointer; transition: all 0.2s ease;">
                    <div class="card-body">
                        <h6 class="card-title"><i class="bi bi-wallet2 me-2"></i>Saldo do mês {{ data|date("m/Y") }}
                        </h6>
                        <h4 class="text-white">R$ <span {% if (receita_total - despesas_total) < 0 %} class="text-danger" {% endif %}>{{ (receita_total - despesas_total)|number_format(2, ',', '.') }}</span></h4>

                        <span class="stretched-link"></span>
                    </div>
                </div>
            </a>
        </div>

        <!-- Orçamentos -->
        <!-- <div class="col-md-6 col-lg-3">
            <a href="/detalhes/orcamentos" class="text-decoration-none">
                <div class="card shadow-sm border-0 bg-warning text-dark h-100 position-relative"
                    style="cursor: pointer; transition: all 0.2s ease;">
                    <div class="card-body" style=" margin-bottom: -22px;">
                        <h6 style=" margin-bottom: -3px;" class="card-title"><i class="bi bi-clipboard-data me-2"></i>Orçamentos</h6><h6 style="margin-left: 25px;">Fechados</h6>
                        <h4>{{ orcamentos_fechados|default(5) }}</h4>
                        <i class="bi bi-plus-circle-fill position-absolute top-0 end-0 m-2" title="Ver detalhes"> Mais</i>
                        <span class="stretched-link"></span>
                    </div>
                </div>
            </a>
        </div> -->
    </div>


    <!-- Gráficos -->
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h6 class="mb-3"><i class="bi bi-bar-chart-line me-2"></i>Receitas e Despesas - Últimos 3 meses</h6>
                    <canvas id="graficoBarra"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h6 class="mb-3"><i class="bi bi-pie-chart-fill me-2"></i>Despesas por Categoria</h6>
                    {% if despesas_categoria == null %}
                    <div>
                        <p>Você ainda não tem despesas no mês <span class="fw-bold">{{ data|date("m/Y") }}</span> para
                            mostrar nos gráficos</p>
                    </div>
                    {% endif %}
                    <canvas id="graficoPizza"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Script dos gráficos -->
<script>
    const ctxBarra = document.getElementById('graficoBarra').getContext('2d');
    const dadosGrafico = JSON.parse('{{ dados_grafico_trimestral|json_encode|raw }}');

    new Chart(ctxBarra, {
        type: 'bar',
        data: {
            labels: dadosGrafico.labels,
            datasets: [
                {
                    label: 'Receitas',
                    data: dadosGrafico.receitas, 
                    backgroundColor: '#198754'
                },
                {
                    label: 'Despesas',
                    data: dadosGrafico.despesas, 
                    backgroundColor: '#dc3545'
                }
            ]
        },
        options: {
            responsive: true,
            plugins: { legend: { position: 'top' } }
        }
    });

    const ctxPizza = document.getElementById('graficoPizza').getContext('2d');
    const despesasCategoria = JSON.parse('{{ despesas_categoria|json_encode|raw }}');

    const categorias = Object.keys(despesasCategoria);
    const valores = Object.values(despesasCategoria);

    // Função para gerar cores aleatórias
    function gerarCores(qtd) {
        const cores = [];
        for (let i = 0; i < qtd; i++) {
            const hue = Math.floor(360 * i / qtd); // espalha as cores no espectro
            cores.push(`hsl(${hue}, 70%, 60%)`);
        }
        return cores;
    }

    new Chart(ctxPizza, {
        type: 'pie',
        data: {
            labels: categorias,
            datasets: [{
                data: valores,
                backgroundColor: gerarCores(categorias.length)
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { position: 'bottom' }
            }
        }
    });


</script>
{% endblock %}