{% extends 'base.html' %}
{% block conteudo %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4"
    style="background-image: url(/templates/site/assets/img/banner.png); height: 30vh; background-size: cover; background-position: center;">
    <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center text-center h-100">
            <h1 class="fw-bolder text-white w-75 mt-5">{{ categoria.titulo }}</h1>
        </div>
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            {% if posts is not empty %}
            <div class="row">
                {% for post in posts %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a class="text-decoration-none text-dark" href="{{ url('/post/'~post.slug) }}">
                            <div class="card-body">
                                <div class="small text-muted">{{ contagemTempo(post.data_post) }}</div>
                                <h2 class="card-title h4">{{ post.titulo }}</h2>
                                <p class="card-text">{{ decodeHtml(textoResumido(post.texto, 100)) | raw }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
        {% else %}
        <p>Nenhum post encontrado.</p>
        {% endif %}
    </div>
    <!-- Side bar-->
    {% include 'sidebar.html' %}
</div>
</div>
{% endblock %}