{% extends 'base.html' %}

{% block conteudo %}

<!-- Page header with logo and tagline-->
<header style="background-image: url('templates/site/assets/img/banner.png');" class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder text-white">Insights sobre PHP, Desenvolvimento de
                Software e Crescimento Pessoal.</h1>
        </div>
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            {% if posts is not empty %}
            

            <!-- Linha aninhada para postagens de blog não destacadas-->
            <div class="row">
                {% for post in posts %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a class="text-decoration-none text-dark" href="{{ url('post/'~post.slug) }}">
                            <div class="card-body">
                                <div class="small text-muted">Postado {{contagemTempo(post.data_cadastro)}}</div>
                                <h2 class="card-title h4">{{ post.titulo }}</h2>
                                <p class="card-text">{{ textoResumido(post.texto, 100) | raw }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Nenhum post encontrado.</p>
            {% endif %}
        </div>

        <!-- Sidebar (coluna à direita) -->
            {% include 'sidebar.html' %}
    </div>
</div>

{% endblock %}
