{% extends 'base.html' %}

{% block conteudo %}

<!-- Page content-->
<div class="container pt-5">
    <div class="row">

        <!-- Blog entries-->
        <div class="col-lg-8">
            <h3 class="pb-5">Resultados para: <i>{{ pesquisa }}</i></h3>
            {% if posts is not empty %}
            <!-- Linha aninhada para postagens de blog -->
            <div class="row">
                {% for post in posts %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="{{ url('/post/'~post.slug) }}">
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">{{ contagemTempo(post.data_post) }}</div>
                            <h2 class="card-title h4">{{ post.titulo }}</h2>
                            <p class="card-text">{{ decodeHtml(textoResumido(post.texto, 200)) | raw }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- Fecha o row das postagens -->
            {% else %}
            <p>Nenhum post encontrado.</p>
            {% endif %}
        </div>

        <!-- sidebar -->
        {% include 'sidebar.html' %}

    </div>
</div>

{% endblock %}
