{% extends 'base.html' %}

{% block conteudo %}

<!-- Page content-->
<div class="bg-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.titulo }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Postado {{ contagemTempo(post.data_cadastro)}}</div>
            <!-- Post categories-->
            <a class="badge bg-primary text-decoration-none link-light"
              href="{{ url('/categorias/'~categoria.slug) }}">{{
              categoria.titulo }}</a>
          </header>
          <!-- Post texto-->
          <section class="mb-5">
            <p class="fs-5 mb-4">{{ decodeHtml(post.texto) | raw }}</p>
          </section>
          <section class="mb-5">
            <div class="row align-items-center">
              <p class="col-auto mb-0 fw-bold">Compartilhe este Post:</p>
              <div class="col-auto d-flex gap-3">


                <!-- LinkedIn -->
                <a class="text-dark"
                  href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('/post/'~post.slug) }}&title={{ post.titulo|url_encode }}&summary={{ post.texto[:150]|url_encode }}"
                  target="_blank">
                  <i class="bi bi-linkedin fs-2"></i>
                </a>
                <!-- WhatsApp -->
                <a class="text-dark" href="https://api.whatsapp.com/send?text={{ url('/post/'~post.slug)|url_encode }}"
                  target="_blank">
                  <i class="bi bi-whatsapp fs-2"></i>
                </a>

                <!-- Facebook -->
                <a class="text-dark"
                  href="https://www.facebook.com/sharer/sharer.php?u={{ url('/post/'~post.slug)|url_encode }}"
                  target="_blank">
                  <i class="bi bi-facebook fs-2"></i>
                </a>
              </div>
            </div>
          </section>
        </article>
        <!-- Sessão de comentários-->
        <!-- <section class="mb-5">
          <div class="card bg-light">
            <div class="card-body">
              <form class="mb-4"><textarea class="form-control" rows="3"
                  placeholder="Join the discussion and leave a comment!"></textarea></form>
              <div class="d-flex mb-4">
                <div class="flex-shrink-0"><img class="rounded-circle"
                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name</div>
                  If you're going to lead a space frontier, it has to be government; it'll never be private enterprise.
                  Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                  <div class="d-flex mt-4">
                    <div class="flex-shrink-0"><img class="rounded-circle"
                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                      <div class="fw-bold">Commenter Name</div>
                      And under those conditions, you cannot establish a capital-market evaluation of that enterprise.
                      You can't get investors.
                    </div>
                  </div>
                  <div class="d-flex mt-4">
                    <div class="flex-shrink-0"><img class="rounded-circle"
                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                      <div class="fw-bold">Commenter Name</div>
                      When you put money directly to a problem, it makes a good headline.
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="flex-shrink-0"><img class="rounded-circle"
                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name</div>
                  When I look at the universe and all the ways the universe wants to kill us, I find it hard to
                  reconcile that with statements of beneficence.
                </div>
              </div>
            </div>
          </div>
        </section> -->
      </div>

      <!-- Sidebar -->
      {% include 'sidebar.html' %}

    </div>
  </div>
  {% endblock %}