<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Pesquisar</div>
        <div class="card-body">
            <div class="input-group">
                <form class="d-flex" action="{{url('pesquisa')}}" method="post">
                    <input name="pesquisa" class="form-control" type="search" placeholder="Pesquisar"
                        aria-label="Search">
                    <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Categorias</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        {% for categoriaE in categoriasEsquerda %}
                        <li><a class="text-decoration-none text-dark" href="{{ url('categorias/'~categoriaE.slug) }}">{{
                                categoriaE.titulo }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        {% for categoriaD in categoriasDireita %}
                        <li><a class="text-decoration-none text-dark" href="{{ url('categorias/'~categoriaD.slug) }}">{{
                                categoriaD.titulo }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <!-- <div class="card mb-4">
        <div class="card-header bg-dark text-white">Sobre mim</div>
        <div class="card-body"><strong></div>
    </div> -->

    <!-- Redes sociais -->
    <!-- <div class="card mb-4">
        <div class="card-header bg-dark text-white">Minhas Redes</div>
        <div class="card-body">
            <div class="row">

                <a class="text-dark fs-1" href="https://www.linkedin.com/in/ulisses-alba/"><i class="bi bi-linkedin"></i></a>

                <a class="text-dark fs-1" href="https://wa.me/5519971553715"><i class="bi bi-whatsapp"></i></a>

            </div>
        </div>
    </div> -->
</div>